/* Banner section  */

/* Common Styles */

/* Custom fonts */
@font-face {
    font-family: gooddog;
    src: url(fonts/gooddog.TTF);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #212121;
    background-image: url(img/bg-overlay-leaf.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

.sushi-text {
    color: #6d963a;
    font-family: gooddog;
}
.sushi-text-nav{
    color: #6d963a;
    font-family: gooddog;
    font-size: 25px;
}
.sushi-text-nav:hover{
    color: #fff;
}
.sushi-bg {
    background-color: #45493b;
}

.font-good {
    font-family: gooddog;
}

.sushi-button {
    background-color: #6d963a;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
}

/* header secton stayles */
.header-banner {
    background-image: url(img/header-bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -90px;
}

/* main website styles */

/* Cook section styles */
.cook {
    background-color: #212121;
    color: #fff;
}

/* Discover our new menu section styles */
.discover-menu {
    background-image: url(img/food-bg.jpg);
    height: 1200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu-items img {
    height: 80px;
    width: 80px;
    margin-right: 20px;
}